/* Tailwind */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body{
    margin:0;
    background-color: #181818;
    color: #FFFFFF;
    font-family: 'Roboto', sans-serif;

}
.navbar {
    font-family: 'Oswald', sans-serif;
}

/* Scrollbar */
::-webkit-scrollbar {
    background-color: transparent;
    width: 0.5rem;
}

::-webkit-scrollbar-thumb {
    background-color: #c7c7c7fb;
    border-radius: 1rem;
}